h1, h2, h3, h4, h5, h6, .navbar-link, .navbar-brand {
  font-family: "Monda", sans-serif !important;
  font-style: normal;
  font-weight: 900;
}

.navbar-link, .list-group-item-heading, .navbar-brand {
  color: #428bca !important;
}

.github-heading {
  color: #5cb85c !important;
}

.list-group-item-text {
  font-size: 16.5px;
  font-weight: 300;
  line-height: 1.25;
}

ul.commits {
  list-style-type: square;
}

ul.commits li.commit {
  color: #555 !important;
  font-family: 'Share Tech Mono', sans-serif !important;
}
