{% extends "layout.html" %}
{% block body %}
<div class='container'>
  <div class='well'><p class='lead'>truedat.org - Joshua Fenio</p></div>
  <div class='row'>
    <div class='col-lg-6'>
      <p>
      I grew up in Indiana and live in Utah.
      I work at a new startup in Salt Lake City hacking in Ruby most of the time.
      I also use vim, and sometimes emacs, to hack in other languages I admire - namely Python, JavaScript, and C.
      I leverage these for a lot of things - including web development, system automation, and game development.
      </p>
      <p>
      In my free time, I take photos, play with guns (to include the paintball variety), and enjoy the outdoors.
      I have a stunningly beautiful wife and two wonderful daughters.
      I'm an unflinching fan of the Indianapolis Colts and football in general.
      And I drink a lot of diet soda.
      </p>
    </div>

    <div class='col-lg-6'>
      <h3><a class='btn btn-default' href='http://github.com/stderr'>Github</a></h3>
      <h3><a class='btn btn-default' href='http://linkedin.com/in/joshfenio'>LinkedIn</a></h3>
      <h3><a class='btn btn-default' href='http://twitter.com/stderr'>Twitter</a></h3>
      <h3><a class='btn btn-default' href='http://flickr.com/dataw0lf'>Flickr</a></h3>
    </div>
  </div>
</div>
{% endblock %}
