{% extends "layout.html" %}

{% block body %}
  <div class='row'>
    <div class='col-lg-4'>
      <blockquote>
        <p>
        My name is Josh Fenio, and I grew up in Indiana and live in Utah.
        I work at a new startup in Salt Lake City hacking in Ruby most of the time.
        I also use vim, and sometimes emacs, to hack in other languages I admire - namely Python, JavaScript, C, and Lisp.
        I leverage these for a lot of things - including web development, system automation, and game development.
        </p>
      </blockquote>

      <blockquote>
        <p>
        In my free time, I take photos, play with guns (to include the paintball variety), and enjoy the outdoors.
        I have a stunningly beautiful wife and two wonderful daughters.
        I'm an unflinching fan of the Indianapolis Colts and football in general.
        And I drink a lot of diet soda.
        </p>
      </blockquote>
    </div>

    <div class='col-lg-5'>
      <div id='activities' class='list-group'>
        {% for activity in activities %}
        <a href="{{ activity.url }}" class="list-group-item">
          <h4 class="list-group-item-heading {{ activity.atype }}-heading"><i class='icon-{{ activity.atype }}'></i> {{ activity.title }}</h4>
          <p class="list-group-item-text">{{ activity.message }}</p>
        </a>
        {% endfor %}
      </div>
    </div>

    <div class='col-lg-offset-1 col-lg-2'>
      <a class='btn btn-default btn-block' href='http://github.com/stderr'><h4><i class='icon-github'></i> Github</h4></a>
      <a class='btn btn-primary btn-block' href='http://linkedin.com/in/joshfenio'><h4><i class='icon-linkedin'></i> LinkedIn</h4></a>
      <a class='btn btn-default btn-block' href='http://twitter.com/stderr'><h4><i class='icon-twitter'></i> Twitter</h4></a>
      <a class='btn btn-primary btn-block' href='http://flickr.com/dataw0lf'><h4><i class='icon-flickr'></i> Flickr</h4></a>
      <a class='btn btn-success btn-block' href='javascript:void(0)'><h4><i class='icon-bullhorn'></i> Opinions</h4></a>
    </div>
  </div>
  <hr />
  <div id='opinion' class='row' style='display:none;'> <!-- Christ almighty.  When using Bootstrap's 'hide' class, it applies !important to display:none, which jQuery's hide/show and toggle methods have a severe problem with.  Lesson learned.-->
    <div class='col-lg-12'>
      <pre>
      <button type="button" class="close" aria-hidden="true">&times;</button>
        qbs = NFL::Quarterbacks.find(:all)

        qbs.sort_by { |qb1, qb2| qb1.skill <=> qb2.skill }
        puts qbs.pop.full_name
        "Andrew Luck"

        qbs.sort_by { |qb1, qb2| qb1.size <=> qb2.size }
        puts qbs.shift.full_name
        "Russell Wilson"
      </pre>
    </div>
  </div>

{% endblock %}
